body {
    color: #434455;
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.span {
    color: #2e2f42;
}

.studio .link {
    color:#2e2f42
}

.header-ul {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#404bbf    
}

.header-ul .link:hover,
.header-ul .link:focus {
    color: #404bbf;
}

.adress {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

.adress:hover,
.adress:focus {
    color: #404bbf
}

address {
    font-style: normal;
}

.first {
    background-color: #2e2f42;
}

.first-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:#ffffff;    
}

.first-button {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#ffffff
}

.first-button:hover,
.first-button:focus {
    background-color: #404bbf;cursor: pointer;
}

.second .second-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42
}